@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

body {
    background-color: #0b0630;
    font-family: 'Press Start 2P', cursive ;
    overflow:hidden;
    margin:0px; padding:0px;
}

gametitle {
    color: white;
    font-size: 2em;
    z-index: 999;
    text-align: center;
    justify-content: center;
    align-items: center;
}

header {
    height: 8vh;
    justify-content: space-between;
    align-items: center;
    text-align: center; 
    display: flex;
}

score {
    color: white;
    z-index: 999;
    text-align: center;
    justify-content: center;
    align-items: center;
}

gameOverScreen {
    color: white;
    z-index: 999;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4em;
}

player, rock, tree, astroid, background {
    position: absolute;
    display: block;
    box-sizing: border-box;
}

background {
    z-index: -1;
	background-image: url(../pictures/backgroundImage.png);
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: repeat;
}

pause {
    z-index: 999;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #0b0630;
    border-radius: 10px;
    border: 4px solid #f8e3c4;
    color: #f8e3c4;
    text-align: center;
    font-size: 14px;
    padding: 10px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

resetButton {
    z-index: 999;
    position: absolute;
    top: 20%;
    left: 30%;
    text-align: center;
    background-color: #0b0630;
    border-radius: 10px;
    border: 4px solid #f8e3c4;
    color: #f8e3c4;
    text-align: center;
    font-size: 3em;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

pause:hover {
    background-color: #6b1fb1;
}

player {
    background-image: url(../pictures/dinoSprite.png);
    width: 42px; height: 42px;
    cursor: pointer;
}

.right {
    background-image: url(../pictures/dinoSprite.png);
    width: 42px; height: 42px;
}

.left {
    background-image: url(../pictures/dinoSpriteLeft.png);
    width: 42px; height: 42px;
}

.jumpingLeft {
    background-image: url(../pictures/dinoJumpLeft.png);
    width: 42px; height: 42px;
}

.jumpingRight {
    background-image: url(../pictures/dinoJumpRight.png);
    width: 42px; height: 42px;
}

rock {
    background-image: url(../pictures/spaceRock.png);
    width: 42px; height: 42px;
    cursor: pointer;
}

tree {
    background-image: url(../pictures/spaceTree.png);
    width: 168px; height: 168px;
    background-size: 50%;
    cursor: pointer;
    background-repeat: no-repeat;
}

astroid {
    background-image: url(../pictures/astroid.png);
    width: 84px; height: 68px;
    cursor: pointer;
}